h1 {
  color: blue;
  text-align: center;
  font-family: sans-serif;
}

p {
  font-size: 18px;
  text-align: center;
  color: gray;
}

div {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  justify-content: center;
  width: 200px;
  gap: 10px;
}
