h1 {
  text-align: center;
}

.container-cars {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 10px;
}

.container-select-car {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
